[DEFAULT]
access_token = your_twitter_access_token_no_quotes
access_token_secret = your_twitter_token_secret_no_quotes
consumer_key = your_twitter_consumer_key_no_quotes
consumer_secret = your_twitter_consumer_secret_no_quotes
consumer_key = xm94pAUphNozJUwY4SzFM8nnT
consumer_secret = k7gFj8K4kE344d8kyBA67xabwL5XMiZXGmDmTjnx1PDWuI0bRO
access_token = 4512685235-ckOFfc3r6QiASVdJBYNUih1CPZWHpVOquSDSon3
access_token_secret = AAEJmUPJtQTYz36qfjjmmZx0fyqH6cHaXjuyM0KwBDMHf